# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/build/
data/
.env
todo.txt
/setup/export.sh
/setup/mens_table.csv
/setup/womens_table.csv
/logs
/setup/*.csv
/.vscode/
